<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>445639197713-0012am11nv6amghnc0seaesdjno4impk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.445639197713-0012am11nv6amghnc0seaesdjno4impk</string>
	<key>API_KEY</key>
	<string>AIzaSyD4qkMWRUtKMm-WnvWnTAez1wRvxsmZrag</string>
	<key>GCM_SENDER_ID</key>
	<string>445639197713</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.mixin27.flavorsFirebase.stg</string>
	<key>PROJECT_ID</key>
	<string>flavors-firebase-demo-stg</string>
	<key>STORAGE_BUCKET</key>
	<string>flavors-firebase-demo-stg.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:445639197713:ios:1e958f621d2d1b3e625db0</string>
</dict>
</plist>